/* --ALL PAGES STYLYING-- */
#wrapper {
    width: 1920px;
    border: 1px solid black;
    overflow: hidden; /* add this to contain floated children */
}
#first {
    width: 960px;
    float:left; /* add this */
    border: 1px solid red;
}
#second {
    border: 1px solid green;
    float: left; /* add this */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imgs/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

html {
    position: relative;
    min-height: 100%;
}

main {
    margin: 80px;
}

.block {
    padding: 30px;
    margin-bottom: 30px;
}

.block-header {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* Navigation */

#logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: blueviolet;
}

/* hover color */

.navbar-default .navbar.nav > li > a:hover {
    color:blueviolet;
}

.navbar {
    background: #e0ba3e;
    border: black 10px;
}

/* media query for nav background color change */
@media only screen and (max-width: 767px) {
    .navbar-header {
        background-color: #e0ba3e;
        border: black 10px;
    }
}

/* End Navigation */

/* Connect with CSS */

.connect-header {
    font-size: 25px;
}

.connect-photo {
    width: 55px;
    height: 55px;
}

#images {
    padding-top: 15px;
    text-align: center;
}

/* End Connect with CSS */

/* Footer */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
}

.two-toned-footer-color {
    height: 6px;
    padding-top: 3x;
    background-color: blueviolet;
}

/* End Footer */

/* --End ALL PAGES STYLING-- */

/* --PAGE SPECIFIC-- */

/* Portfolio Page */

.port-image {
    margin: 20px auto;
    height: 150px;
    width: 150px;
}

/* End of Portfolio Page */

/* About Page */

    .about-me-header {
        margin-bottom: 33px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 32px;
        font-weight: bold;
        color: black;
    }

    #about-image {
        float: left;
        width: 200px;
        margin: 0 20px 10px 0;
        border-radius: 1000px;
    }

/* End of About Page */

/* Contact Page */

.form-control {
    border-radius: 0;
    min-width: 100%;
    max-width: 100%;
}

.submit-btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    background-color: skyblue;
    border: 0;
}

.submit-btn:hover {
    opacity: .7;
}